<div>
	This website is powered by<br/>
	<span class="V">Blazar V385 "Cygni"</span>
	<br/>(unstable version)<br/>
	<br/>Released under AGPL :<br/>
	<a href="https://bitbucket.org/Nils85/blazar/src/master/LICENSE.txt">
		GNU Affero General Public License v3.0
	</a>
	<br/><br/>Project source :<br/>
	<a href="https://bitbucket.org/Nils85/blazar">https://bitbucket.org/Nils85/blazar</a>
</div>