html, body {
	margin: 0;
	height: 100%}

body {
	display: table;
	width: 100%;
	background: #333 no-repeat center fixed;
	background-size: cover}

body, a {
	font-family: sans-serif;
	color: white;
	text-decoration: none;}

a:hover {
	text-decoration: underline}

abbr {
	cursor: help}

body > div {
	display: table-row;
	text-align: center;
	opacity: .8}

body > div > div {
	display: table-cell;
	vertical-align: middle}

/* Head */

body > div:first-child {
	background-color: black;
	text-align: left;
	padding: 15px;
	height: 60px}

body > div:first-child > div > a > img {
	float: left;
	border-style: none;
	margin: 3px 9px 5px 2%}

body > div:first-child > div > span {
	float: right;
	margin: 9px 3%}

/* Foot */

body > div:last-child {
	background-color: black;
	height: 45px}

body > div:last-child > div {
	padding: 9px}

body > div > div > a[href="https://bitbucket.org/Nils85/blazar/issues/new"],
body > div > div > a[href="/about/"],
body > div > div > a[href="/help/"] {
	margin: 5%}

body > div > div > form {
	display: inline;
	margin: 5%;
	white-space: nowrap;
	line-height: 2}

/* Middle */

body > div > div > div {
	display: inline-block;
	border-radius: 25px;
	padding: 20px;
	margin: 20px;
	background-color: black}

/* Text sizes */

span.V, label.V {
	font-size: 1.7em}

span.W {
	font-size: .7em}

/* Blink */

body > div > div > div > table > tbody > tr.Z {
	animation: blink 1s linear infinite}

@keyframes blink {
	50% {opacity: 0}
}

/* Page help */

body > div > div > div.Z {
	width: 70%}

/* Page index */

body > div > div > div > form.Z {  /* view upload */
	border-style: dashed;
	border-radius: 9px;
	margin-bottom: 9px;
	padding: 20px 30px}

div.X div#H a {  /* view upload */
	text-decoration: underline}

/* Tables (Templates/info + stat) */

body > div > div > div > table {
	text-align: left;
	margin: 20px auto;
	border-spacing: 9px 4px}

body > div > div > div > table > tbody {
	text-align: right}

body > div > div > div > table > tbody > tr > td > input {
	width: 99%}

body > div > div > div > table.Z {
	margin-top: 0;
	width: 80%}

body > div > div > div > table.Z > tbody > tr > td.Y {
	width: 70px}